<div id="gotop">
    <span></span>
</div>
<script>
    // 回到顶部
    var min_height = 200;
    $(window).scroll(function(){
        //获取窗口的滚动条的垂直位置
        var s = $(window).scrollTop();
        //当窗口的滚动条的垂直位置大于页面的最小高度时，让返回顶部元素渐现，否则渐隐
        if( s > min_height){
            $("#gotop").fadeIn(100);
        }else{
            $("#gotop").fadeOut(200);
        };
    });

    $("#gotop").click(function(){
        document.documentElement.scrollTop = document.body.scrollTop =0;
    });
</script>

<div class="footer" id="footer">
    <div class="wrapper">
        <div class="qrcode">
            <img src="{PLUGIN_STATICS_PATH}taikan/images/qrcode.jpg" alt="今甲官网"/>
        </div>
        <div class="footer-box clearfix">
            <ul class="clearfix">
                <li>
                    <h4><a href="/index.php?m=content&c=index&a=lists&catid=6">产品中心</a></h4>
                    <ul class="footer-itemcon">
                        {loop subcat(6) $r}
                        <li><a href="/index.php?m=content&c=index&a=lists&catid=6">{$r[catname]}</a></li>
                        {/loop}
                    </ul>
                </li>
                <li>
                    <h4><a href="/index.php?m=content&c=index&a=lists&catid=7">案例展示</a></h4>
                    <ul class="footer-itemcon">
                        {loop subcat(7) $r}
                        <li><a href="/index.php?m=content&c=index&a=lists&catid=7">{$r[catname]}</a></li>
                        {/loop}
                    </ul>
                </li>
                <li>
                    <h4><a href="/index.php?m=content&c=index&a=lists&catid=8">新闻资讯</a></h4>
                    <ul class="footer-itemcon">
                        {loop subcat(8) $r}
                        <li><a href="/index.php?m=content&c=index&a=lists&catid=8">{$r[catname]}</a></li>
                        {/loop}
                    </ul>
                </li>
                <li>
                    <h4><a href="/index.php?m=content&c=index&a=lists&catid=9">关于我们</a></h4>
                    <ul class="footer-itemcon">
                        {pc:content action="lists" catid="9" num="3" order="listorder"}
                        {loop $data $v}
                        <li><a href="{$v[url]}">{$v[title]}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </li>
                <li>
                    <h4><a href="/index.php?m=content&c=index&a=lists&catid=20">人才招聘</a></h4>
                </li>
                <li>
                    <h4><a href="/index.php?m=content&c=index&a=lists&catid=19">联系我们</a></h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="cpr cb">
        <div class="wrapper">
            <p>© 2015 广州今甲智能科技有限公司. All Right Reserved. 粤ICP备13075618号-1</p>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="{PLUGIN_STATICS_PATH}taikan/js/index-action.js?a=2"></script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B9e663c9b5ae5023988cb912b2dc1778"></script>