{template "content","header"}

<div class="content" style="margin:20px 100px;">
    <div class="wrapper pt20">
    <div >
        <div class="product_logo l" style="margin-left: 20px;">
            <img class="l" src="{$thumb}" alt="{$title}"/>
            <div  class="l">
                <h3>·{$title}·</h3>
            </div>
        </div>
        <div class="r">
            <ul>
            {pc:content action="lists" catid="$catid" num="5" order="listorder"}
            {loop $data $v}
                {if $v[id]!=$id }
                <li><a href="{$v[url]}" >{$v[title]}</a></li>
                {/if}
            {/loop}
            {/pc}
            </ul>
        </div>
    </div>

    <hr style="border-bottom:1px dashed #000000;clear:both;"/>

    <div class="product-content"  style="margin-left: 20px;">
        <h1 style="font-size:26px;">{$title}</h1>
        <div class="l" style="width: 40%;">
            {if $videosrc!=""}
                {$videosrc}
            {else}
                <img style="width:400px; height:400px;" src="{$content_thumb}" alt="{$title}"/>
            {/if}
        </div>
        <div  style="margin-left:44%; padding-right:4%; ">
            <span>
                {$introductions}
            </span>
        </div>
    </div>
    </div>
</div>
<br style=" clear:both;"/>

{template "content","footer"}